.workout-builder {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.workout-builder__controls {
  display: flex;
  margin-top: 1rem;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.workout-builder__controls-input-wrapper {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.workout-builder__exercise-list {
  display: flex;
  flex-direction: row;
}

.workout__table * {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

.workout__table {
  width: 100%;
  border: none;
  border-collapse: collapse;
  border-spacing: 0;
}

.workout__table thead {
  background-color: var(--color-gray-light);
}

.workout__table td {
  border-bottom: 1px solid var(--color-gray-medium);
}

.workout__table th,
.workout__table td {
  padding: var(--space-lg);
}

.workout__table th {
  font-weight: 600;
}
