.workout-page {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.workout-page__header {
  display: flex;
  margin-top: 1rem;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  gap: 1rem;
}

.search-container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.workout-page__header > :nth-child(1) {
  display: flex;
  gap: 1rem;
}

.workout-page__header > :nth-child(2) {
  display: flex;
  gap: 1rem;
}
