.profile-page {
  display: flex;
  flex-direction: column;
  min-width: 0;
  flex: 1;
  gap: 1rem;
}

.profile-page__container {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  height: 100%;
}

.profile-page__container > :nth-child(1) {
  flex: 0 1 400px;
}

.profile-page__container > :nth-child(2) {
  flex: 6 1 auto;
}
/* Profile page stats (left) inner card styling */

.profile-page__card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  gap: 1rem;
}

.profile-page__card-header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  width: 100%;
}

.profile-page__user-details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}

.profile-page__avatar-wrapper {
  position: relative;
  border-radius: 50%;
  width: 140px;
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: var(--element-shadow-regular);
}

.user-avatar {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.upload-user-avatar-input {
  display: none;
}

.upload-user-avatar-label {
  position: absolute;
  display: flex;
  bottom: 15px;
  right: 15px;
  transform: translate(25%, 25%);
  align-items: center;
  justify-content: center;
  padding: var(--space-sm);
  border-radius: 50%;
  background-color: var(--color-gray-light);
  color: var(--color-black);
  cursor: pointer;
  box-shadow: var(--element-shadow-regular);
}

.upload-user-avatar-label:hover {
  background-color: var(--color-gray-mediumlight);
}

.upload-user-avatar-label i {
  font-size: 1rem;
}

.profile-page__workout-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.profile-page__workout-buttons > p {
  font-weight: 600;
}

.workout-button {
  padding: 1rem;
  background-color: var(--color-gray-dark);
  color: #ffffff;
  border-radius: var(--border-radius-sm);
  cursor: pointer;
}

.start {
  background-color: var(--color-primary);
}
.start:hover {
  background-color: var(--color-primary-light);
  color: #ffffff;
}

.assign {
  background-color: var(--color-gray-dark);
}

.assign:hover {
  background-color: var(--color-gray-medium);
  color: #ffffff;
}

/* profile page left side bottom content*/

.profile-page__user-stats {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  align-items: stretch;
  width: 100%;
  padding: 0 1rem;
}

.statistic {
  display: flex;
  justify-content: space-between;
}

/* Profile page right card with user details and settings */

.profile-page__settings-card {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  gap: 1rem;
}

.profile-page__settings-navigation {
  border-bottom: 1px solid var(--color-gray-medium);
}
.profile-page__settings-links {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  list-style: none;
  margin: 0;
  padding: 0.5rem;
}

.profile-page__settings-link {
  font-weight: 600;
  white-space: nowrap;
}

/* Profile page footer (below cards) */

.profile-page__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Active nav link styling */
.activeNavLink {
  color: var(--color-primary);
}

.delete-link {
  color: var(--color-accent);
  background-color: transparent;
  border: none;
}

/* Media Queries */

@media (max-width: 1024px) {
  .profile-page__container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 100%;
  }
}
