.button {
  border: none;
  border-radius: 0.3rem;
  font-weight: 500;
  text-transform: capitalize;
  white-space: nowrap;
}

/* button Varianten */

.primary {
  background-color: var(--color-primary);
  color: #ffffff;
}

.primary:hover {
  background-color: var(--color-primary-light);
}

.secondary {
  background-color: var(--color-black);
  color: #ffffff;
}

.secondary:hover {
  background-color: var(--color-gray-dark);
}

.tertiary {
  background-color: transparent;
  border: 2px solid var(--color-primary);
}

.success {
  color: #ffffff;
  background-color: var(--color-success);
}

.transparant {
  border: none;
  background-color: transparent;
  color: var(--color-black);
}

.transparant:hover {
  color: var(--color-accent);
}

.tertiary:hover {
  background-color: var(--color-primary-light);
}

/*Danger en succes nog maken alsook de hover states*/

/* Sizes */

.small {
  padding: 0.5rem 1rem;
  font-size: var(--font-sm);
}

.medium {
  padding: 0.75rem 1.25rem;
}

.large {
  padding: 1rem 1.5rem;
}
