.dashboard-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 150px 1fr;
  gap: 1rem;
  width: 100%;
  grid-template-areas:
    "one two three side"
    "main main milestones side";
}

.card-one {
  grid-area: one;
}

.card-two {
  grid-area: two;
}

.card-three {
  grid-area: three;
}

.main-content {
  grid-area: main;
  background-color: lightgrey;
}

.milestones-content {
  grid-area: milestones;
}

.side-content {
  grid-area: side;
}

/* Styling for the children of the card in the parent component since we declare it here */
/* evt hier */

/* Media Queries */

@media (max-width: 768px) {
  .dashboard-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
      "one"
      "two"
      "three"
      "main"
      "milestones"
      "side";
  }
}

/* Client information container */

.side-content__information-container {
  flex-grow: 1;
  flex-shrink: 0;
}

hr {
  border: 0.5px solid var(--color-gray-medium);
}

.information-container__client-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 1rem;
}

/* Milestones section */

.milestones__container {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0.5rem 0;
  gap: 1rem;
}

.container__list-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
  flex: 1;
}

.list-item__top-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-white);
  padding: 0.2rem;
  border-radius: 0.3rem;
}

.list-item__top-content :first-child {
  font-size: var(--font-xs);
}

.list-item__top-content :nth-child(2) {
  color: var(--color-gray-dark);
  cursor: pointer;
}

.list-item__bottom-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.list-item__bottom-content :first-child {
  font-weight: 600;
}
