.clients-page {
  display: flex;
  position: relative;
  flex-direction: column;
  flex: 1;
}

.clients-page__header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 0;
  gap: 1rem;
}

.clients-page__header-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.clients-page__list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.clients-page__card-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  gap: 1rem;
}

.clients-page__card-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: 1 0 200px;
  gap: 1rem;
  min-width: 0;
  width: 100%;
}

.clients-page__avatar-wrapper {
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  overflow: hidden;
  flex-basis: 75px;
  flex-grow: 0;
  flex-shrink: 0;
}

.clients-page__avatar-wrapper > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.clients-page__card-details {
  font-size: 0.8rem;
  text-transform: capitalize;
}

.clients-page__card-details p:first-child {
  font-weight: 600;
}

.clients-page__card-content {
  display: flex;
  align-items: center;
  gap: 0.5rem 1rem;
  font-size: 0.8rem;
  width: 100%;
  min-width: 0;
  flex: 1 0 300px;
}

.clients-page__card-content span {
  font-weight: 600;
  text-transform: capitalize;
}

.clients-page-footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: stretch;
  flex: 1 0 150px;
}

.high {
  color: var(--color-secondary);
  font-weight: 600;
}

.medium {
  color: var(--color-error);
  font-weight: 600;
}

.low {
  color: var(--color-warning);
  font-weight: 600;
}

/* Media Queries */

@media (max-width: 768px) {
  .clients-page__list {
    display: flex;
    flex-direction: column;
  }

  .clients-page__card-container {
    flex-direction: column;
  }

  .clients-page__card-header {
  }

  .clients-page__card-content {
    align-items: center;
    width: 100%;
  }

  .clients-page-footer {
    align-items: stretch;
  }
}
