.header {
  flex: 1 0 200px;
  padding: 0 0.5rem;
}

.content {
  flex: 2 0 200px;
  padding: 0 0.5rem;
}

.footer {
  padding: 0 0.5rem;
  height: 100%;
  flex: 1 0 auto;
  /*  in de gaten houden in andere cards wat deze flex doet*/
}
