.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  background-color: var(--color-gray-light);
  flex: 1 0 100%;
  height: auto;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px -2px rgba(0, 0, 0, 0.1);
  border: 0.5px solid var(--color-gray-medium);
}

.card:hover {
  background-color: var(--color-gray-mediumlight);
}

.card__left-content {
  display: flex;
  align-items: center;
  gap: 2rem;
  flex-basis: 200px;
  flex-grow: 1;
  flex-shrink: 1;
}

.card__left-content img {
  height: 60px;
  width: 60px;
  object-fit: cover;
  border-radius: 100%;
}

.card__middle-content {
  display: flex;
  flex-direction: column;
  flex-basis: 200px;
  flex-grow: 1;
  flex-shrink: 2;
}

.card__right-content {
  flex-shrink: 1;
  flex-grow: 0;
}

.card__left-content * span,
.card__middle-content * span {
  display: block;
  text-transform: capitalize;
  font-size: var(--font-sm);
}

.title {
  font-weight: 600;
}
