.input-field {
  width: 100%;
  border: 1px solid var(--color-gray-medium);
  border-radius: 0.2rem;
  outline: none;
  padding: var(--space-sm);
  background-color: var(--color-white);
  box-shadow: var(--element-shadow-subtle);
}

.input-field:focus {
  box-shadow: 0 0 0 2px hsla(342, 100%, 62%, 0.3);
}

.input-field-container {
  position: relative;
}

.input-field-icon {
  position: absolute;
  color: var(--color-black);
  bottom: 0.4rem;
  font-size: 1rem;
  right: 1rem;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.input-field-icon:hover {
  color: var(--color-primary);
}

.required {
  color: var(--color-primary);
  margin-left: 0.3rem;
}

/* Sizes en styles */
