.modal {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 100%;
  flex: 1;
  background-color: var(--color-gray-light);
  border: 1px solid var(--color-gray-mediumlight);
  box-shadow: var(--element-shadow-subtle);
  border-radius: 0.5rem;
  overflow: auto;
}

.modal__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 1rem;
}

.header__title-wrapper {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.modal__header > span {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--color-accent);
  color: var(--color-accent);
  height: 2rem;
  width: 2rem;
  font-size: 1rem;
  border-radius: 50%;
  cursor: pointer;
}

.modal__content--left {
  display: flex;
  flex-direction: column;
}

.success-message {
  padding: 0.3rem;
  background-color: var(--color-success);
  border-radius: 0.3rem;
}
