.exercise-list {
  display: flex;
  position: relative;
  flex-direction: column;
  flex: 1;
}

.exercise-list__controls {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  gap: 1rem;
  width: 100%;
}

.exercise-list__controls > :first-child {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.exercise-list__inputs {
  display: flex;
  min-width: 0;
  width: 100%;
  flex-direction: row;
  gap: 1rem;
}

/* Exercise list and table styling */

.exercise-list__icons > span {
  display: flex;
  gap: 2rem;
}

.exercise-list__icons > span > * {
  cursor: pointer;
  min-width: 1rem;
}

.exercise-list__icons > span > *:hover {
  color: var(--color-primary);
}

/* Media queries */

@media (max-width: 768px) {
  .exercise-list__inputs {
    flex-direction: column;
    gap: 0.5rem;
  }
  .exercise-movement--td,
  .exercise-movement--th,
  .exercise-muscle--td,
  .exercise-muscle--th {
    display: none;
  }

  .exercise-list__icons > span {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
}
