.client-list__client-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.client-list__client-info img {
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 100%;
  flex-shrink: 0;
}

.client-list__client-name {
  font-weight: 600;
  cursor: pointer;
}

.client-list__client-name:hover {
  color: var(--color-primary);
}

.workout-info--done {
  font-weight: 600;
  color: var(--color-secondary);
}

.workout-info--pending {
  font-weight: 600;
  color: var(--color-error);
}

.workout-adherence--down {
  font-weight: 600;
  color: var(--color-warning);
}
