/* Dashboard card styling */

.dashboard-card {
  background-color: var(--color-gray-light);
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  border-radius: var(--border-radius-sm);
  height: 100%;
  overflow: auto;
  padding: var(--space-md);
  border: 1px solid var(--color-gray-mediumlight);
}

.dashboard-card__title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-container__icon {
  color: var(--color-gray-dark);
  padding: 0.5rem;
  border: 1px solid var(--color-gray-mediumlight);
  border-radius: var(--border-radius-sm);
}

.dashboard-card__content-container {
  display: flex;
  flex-grow: 1;
}

.direction-column {
  flex-direction: column;
}

.direction-row {
  flex-direction: row;
}

/* Media Queries */

@media (max-width: 768px) {
  .dashboard-card {
    height: auto;
    overflow: visible;
  }
}
