.signup {
  display: flex;
  height: 100vh;
}

.signup__image-container {
  background-image: url("../../assets/sweat-daddy-hero-image.png");
  background-size: cover;
  background-position: center;
  flex-basis: 600px;
  flex-grow: 1;
  flex-shrink: 2;
}

.signup__content-container {
  display: flex;
  flex-basis: 500px;
  flex-grow: 2;
  flex-shrink: 1;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: var(--space-xl);
  background-color: var(--color-white);
}

.signup__content-form {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
  min-width: 400px;
  margin: var(--space-xl);
}

.signup__content-form > p {
  font-weight: 600;
}

hr {
  border: 1px solid var(--color-black);
  width: 100%;
}

/* Media Queries */
@media (max-width: 768px) {
  .signup {
    flex-direction: column;
  }

  .signup__image-container {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    background-position: right 0 top 30%;
    background-repeat: no-repeat;
  }

  .signup__content-container {
    flex-grow: 1.4;
    flex-shrink: 1;
    flex-basis: 0;
    justify-content: space-around;
    align-items: center;
  }
  .signup__content-form {
    display: flex;
    flex-direction: column;
    min-width: 320px;
    gap: var(--space-sm);
  }
}
