.drag-icon {
  padding: 0.5rem;
}

.drag-icon > span {
  width: 1rem;
  height: 100%;
  display: block;
  cursor: pointer;
}

.drag-icon > span:hover {
  color: var(--color-primary);
}

.table-row__icons > span {
  display: flex;
  gap: 2rem;
  min-width: 1rem;
}

.table-row__icons > span > * {
  cursor: pointer;
}

.table-row__icons > span > *:hover {
  color: var(--color-primary);
}

.exercise-parameter-input {
  border: 1px solid var(--color-gray-mediumlight);
  border-radius: 0.2rem;
  width: 3rem;
  padding: 0.2rem 0.4rem;
  background-color: transparent;
}

@media (max-width: 768px) {
  .table-row__icons > span {
    flex-direction: column;
    gap: 1rem;
  }
}
