.table-align-left {
  text-align: left;
}

.table-align-center {
  text-align: center;
}

.drag-icon {
  cursor: grab;
}

/* Werkt niet zoals verwacht */
.drag-icon:active {
  cursor: grabbing;
}

.draggable:hover {
  background-color: var(--color-gray-light);
}

/* Table controls */

.table-controls {
  display: flex;
  justify-content: space-evenly;
  height: 100%;
}

.table-controls > span {
  font-weight: 600;
  cursor: pointer;
  margin-right: 1.5rem;
}

.table-controls__edit {
  color: var(--color-gray-dark);
}

.table-controls__superset {
  color: var(--color-gray-dark);
}

.table-controls__delete {
  color: var(--color-warning);
  cursor: pointer;
}

.table-icon-wrapper {
  min-width: 40px;
  min-height: auto;
}
